{% extends "COMAdvertBundle::advert.html.twig" %}

{% block title %}
  annonce : {{ advert.defaultTitle }}
{% endblock %}


{% block advert_body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_10" style="font-weight:bold; font-size:14px">
				{{ advert.title }}
			</div>
			<div class="mg_10">
				By 
				{# twig extension #}
				{% set userInfo = getLinkUserInfo(advert.user, advert.user.name) %} 
				{{ userInfo | raw }}
				  on {{ advert.date | date('Y-m-d H:i:s') }}
			</div>
			<div class="mg_10">
				{{ advert.content | raw }}
			</div>
				
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<div class="mg_10" style="background:#f5f5f5; border:1px solid #7ae; padding:5px; border-radius:3px;box-sizing:border-box"> 
					<div>Actions admin : </div>
					<div class="sp mg_v5"></div>
					<div>
					{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('com_admin_advert_edit', {'id': advert.id}) }}" target="_blank"><span>Manage</span></a>{% endif %}&nbsp;
					
						{% set schools = getNotSchoolsByAdvertAndUser(advert, app.user) %} 
						{% if schools %}
							
							<span class="dd" style="display:inline-block;" id="btn_add_to_sl">
								<span href="#" class="dd_src" style="cursor:pointer">
									Add to ...
								</span>
								<div class="dd_target" style="margin-top: 3px; position: absolute; display: none; border: 1px solid rgb(170, 170, 170); border-radius: 4px;background:#fff;box-shadow: 1px 1px 5px #ccc;">
									<div style="margin:5px">
											{% for school in schools %}
												<div style="cursor:pointer" data-schoolId="{{ school.id }}" data-target="{{ path('com_advert_set_advert_school', {'advert_id': advert.id, 'school_id': school.id}) }}" class="not_school_advert">{{ school.shortName }} - {{ school.name }}</div>
											{% endfor %}
									</div>
								</div>
							</span> 
						{% endif %}
					</div>
				</div>
			{% endif %}
			
			<div class="sp mg_v10"></div>
			<div id="info_comment" class="mg_h10">
				{{ allComments | length }} 
				{% if allComments | length == 0 or allComments | length == 1 %}
					Commentaire
				{% else %}
					Commentaires
				{% endif %}
			</div>
			<div class="sp mg_v10"></div>
			
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
					<div class="" style="margin:10px;">
						<form action="" name="" method="post" id="">
							<div style="margin-bottom:5px">
							{{ app.user.name }} :
							</div>
							<div style="width:60px;float:left">
								{% set avatar=userAvatar(app.user) %}
								{% if avatar != "default.jpeg" %}
									{% set pathtoavatar='uploads/images/user/avatar/'~avatar %}
								{% else %}
									{% set pathtoavatar='default/images/user/avatar/'~avatar %}
								{% endif %}
								<span style="display:block;float:left;"><img style="width:60px; height: 60px; border-radius: 50%" src="{{ pathtoavatar | imagine_filter('60x60') }}" alt="{{ app.user.username }}" /></span>
							</div>
							<div style="margin-left:70px">
								<textarea class="default_textarea" id="at_cmt_message" style="min-height:120px"></textarea>
								<div id="at_add_comment_error"></div>
								<div id="at_add_comment_action" class="mg_t10">
									<span class="btn_save standar_button btn_at_new_cmt" data-target="{{ path('com_advert_new_comment', {'advert_id': advert.id}) }}">R&eacute;pondre</span>
									<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;">Chargement...</span>
								</div>
							</div>
							<div class="both"></div>
						</form>
					</div>
				{% else %}
					<div style="margin: 10px 0">
						<a class="link" href="{{ path('com_user_login') }}">Connectez-vous pour pouvoir ecrire votre message</a>
					</div>
				{% endif %}
				
			<div>
				<div id="at_list_cmt">
					{% for comment in comments %}
						{{ include("COMAdvertBundle:advert:include/comment_item.html.twig") }}
					{% endfor %}
				</div>
				<div class="both"></div>
				{% if previousComment %}
					<div id="at_load_comment_action" class="mg_b10">
						<div class="sp mg_v10"></div>
						<div id="at_load_comment" data-target="{{ path('com_advert_load_comment', {'advert_id': advert.id, 'comment_id': previousComment.id}) }}" data-previous-cmt="{{ previousComment.id }}" class="mg_h10" style="text-align:center; cursor:pointer">
							Load comments
						</div>
						<div class="btn_loading" style="text-align:center;display:none;">Chargement...</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
