<div style="float:left; width:80px">
	{% set avatar=userAvatar(user) %}
	{% if avatar != "default.jpeg" %}
		{% set path='uploads/images/user/avatar/'~avatar %}
	{% else %}
		{% set path='default/images/user/avatar/'~avatar %}
	{% endif %}
	
	<img style="width: 80px; height: 80px" src="{{ path | imagine_filter('80x80') }}" alt="{{ user.username }}" />
</div>
<div style="margin-left: 90px">
	<div style="margin-bottom:2px">
		<a style="font-weight:bold" class="link" href="{{ path('com_user_profile', {'username': user.username}) }}">
			{{ user.name }}
		</a>
	</div>

	<div style="margin-bottom:2px">
		{{ user.username }} {{ user.location }}
	</div>

	<div style="margin-bottom:2px">
		{% if user.sex == 1 %}
			Homme
		{% elseif user.sex == 2 %}
			Femme
		{% else %}
			Sexe indeterminé
		{% endif %}
	</div>

	<div>
		{{ user.email }}
	</div>
</div>
<div style="clear:both"></div>

{% if user.biography is not empty %}
	<div style="background:#eee; border-radius:4px; margin:10px 0 0 0; padding:0 5px">
		{{ substrSpace(user.biography, 350) }}
	</div>
{% endif %}



