{% extends "COMUserBundle::user.html.twig" %}

{% block title %}
	Connexion
{% endblock %}


{% block user_body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div class="label_title">
					<span style="font-weight:bold">Connexion.</span> <a href="{{ path('com_user_register') }}">Vous n'êtes pas encore inscrit?</a>
				</div>
				<div class="pm_bloc">
					<div class="pm_form">
						<form name="" method="post" action="{{ path('login_check') }}" id="form-inscription">
							<div class="pm_form_wrap">
								<div>                
									<div><label for="username" class="required">{{ 'email' | trans }} :</label></div>
									<div><input type="email" id="username" name="_username" required="required" value="{{ last_username }}" class="default_input" /></div>
								</div>
								
								<div>                
									<div><label for="password" class="required">{{ 'password' | trans }} :</label></div>
									<div><input type="password" id="password" name="_password" required="required" class="default_input" /></div>
								</div>
								
								<div style="margin-top : 10px">
									<button type="submit" id="Inscription" name="Inscription" class="standar_button">{{ 'connexion' | trans }}</button>
								</div>
								{% if error %}
									{#{ error | raw }#}
									<div style="color:#d55;font-weight:bold;margin:10px 0">Verifiez bien votre email ou mot de passe.</div>
								{% endif %}
								<div class="mg_v10">
									 <a href="{{ path('com_user_set_new_password') }}">Vous avez oubliez votre mot de passe?</a>
								</div>
							</div>
						</form>
					</div>
					<div class="pm_desc">
						<h1>
							Duplexque isdem diebus acciderat malum lorem ipsum?
						</h1>
						<p>Duplexque isdem diebus acciderat malum, quod et Theophilum insontem atrox interceperat casus, et Serenianus dignus exsecratione cunctorum, innoxius, modo non reclamante publico vigore, discessit.</p>
						<p>Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum et Eusebium nec professionem nec dignitatem ostendens aliquotiens increpabat, qui sint hi magna quaerebatur industria, et nequid intepesceret, Epigonus e Lycia philosophus ducitur et Eusebius ab Emissa Pittacas cognomento, concitatus orator, cum quaestor non hos sed tribunos fabricarum insimulasset promittentes armorum si novas res agitari conperissent.</p>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
