{% extends "COMUserBundle::user.html.twig" %}

{% block title %}
	Inscription
{% endblock %}


{% block user_body %}
	<div class="cr">
		<div class="ct">
			{{ msg | raw }}
			<div>
				inscription.
			</div>
			<div>
				Remplissez avec vos coordonnées.
			</div>
			<div style="margin:10px 0">
				<form name="" method="post" action="" id="form-inscription">
					<div>
						<div>                
							<div><label for="name" class="required">{{ 'full.name' | trans }} :</label></div>
							<div><input type="text" id="name" name="name" required="required" class="default_input" /></div>
						</div>
						
						<div>
							<div><label for="username" class="required">{{ 'username' | trans }} :</label></div>
							<div><input type="text" id="username" name="username" required="required" class="default_input" /></div>
						</div>
						
						<div>                
							<div><label for="email" class="required">{{ 'email' | trans }} :</label></div>
							<div><input type="email" id="email" name="email" required="required" class="default_input" /></div>
						</div>
						
						<!--
						<div>                
							<div><label for="password" class="required">{{ 'password' | trans }} :</label></div>
							<div><input type="text" id="password" name="password" required="required" class="default_input" /></div>
						</div>
						-->
						
						<div>
							<div><label class="required" for="password_first">Password</label></div>
							<div><input id="password_first" name="password[first]" required="required" type="password" class="default_input" /></div>
						</div>
						
						<div>
							<div><label class="required" for="password_second">Repeat Password</label></div>
							<div><input id="password_second" name="password[second]" required="required" type="password" class="default_input" /></div>
						</div>
						
						<div style="margin-top : 10px">
							<button type="submit" id="register" name="register" class="standar_button">{{ 'register' | trans }}</button>
						</div>
					</div>
				</form>
				{#
				<hr />
				{{ form_errors(formRegister) }}
				{{ form(formRegister) }}
				#}
			</div>
		</div>
	</div>
{% endblock %}
