{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  {{ school.name }}
{% endblock %}

{% block styledirect %}
	{# twig extension #}
	{% set cover=schoolCover(school) %}
	{% if cover != "default.jpeg" %}
		{% set pathtocover='uploads/images/school/cover/'~cover %}
	{% else %}
		{% set pathtocover='default/images/school/cover/'~cover %}
	{% endif %}
	<style type="text/css">
		#search{background: rgba(255, 255, 255, 1) url('{{ asset(pathtocover) }}') no-repeat scroll center center / cover ;}
	</style>
{% endblock %}


{% block school_body %}
	<div id="sl_gl" class="cr">
		<div class="ct">
			<div style="padding:5px 9px 1px 9px; border:1px solid transparent">
				<div class="left">
					{# twig extension #}
					{% set logo=schoolLogo(school) %}
					{% if logo != "default.jpeg" %}
						{% set pathtologo='uploads/images/school/logo/'~logo %}
					{% else %}
						{% set pathtologo='default/images/school/logo/'~logo %}
					{% endif %}
					
					<img id="sl_view_logo" src="{{ pathtologo | imagine_filter('100x100') }}" alt="img sl" />
				</div>
				<div style="min-height:110px">
					<div id="sl_view_name">
						<a href="{{ path('com_school_view', {'slug': school.slug}) }}">
							{{ school.name }} 
							{% if school.shortName | trim != "" %}
								({{ school.shortName }}) 
							{% endif %}
							
							({{ school.views | length }} vues)
						</a>
					</div>
					<div id="sl_view_description">
						{{ school.shortDescription }}
					</div>
					<div id="sl_view_action">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
						<span id="toggle_subscription" data-target="{{ path('com_school_toggle_subscription', {'school_id': school.id}) }}" style="cursor:pointer">
							{% set isSubscribed = isSubscribed(school, app.user) %}
							{% if isSubscribed %}
								<span class="subscription_btn" style="color:#2981c5;display:none">S'abonner</span>
								<span class="unsubscription_btn" style="color:#a92c32">Se désabonner</span>
							{% else %}
								<span class="subscription_btn" style="color:#2981c5">S'abonner</span>
								<span class="unsubscription_btn" style="display:none;color:#a92c32">Se désabonner</span>
							{% endif %}
						</span> 
						{% endif %}
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_ADMIN') %}<a href="{{ path('com_admin_school_edit', {'id': school.id}) }}" target="_blank"><span>Administrer</span></a>{% endif %}
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
	<div id="sl_dl">
		<div id="sl_onglet_head" style="">
			<div class="cr">
				<div class="ct">
					<div class="mg_h10">
						<span class="tab_sl_item{% if type == 'about' %} selected{% endif %}" id="tab_sl_about" data-title="{{ school.name }} - about" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'about'}) }}" >
							<span style="display:inline-block;vertical-align:middle;"><img style="display:inline-block;vertical-align:middle; width:19px; height:19px; border-radius: 50% 50%; border: 1px solid #888" src="{{ pathtologo | imagine_filter('20x20') }}" alt="AU" /> A propos</span>
						</span>  
						<span class="tab_sl_item{% if type == 'post' %} selected{% endif %}" id="tab_sl_new" data-title="{{ school.name }} - post" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'post'}) }}" >
							<span style="display:inline-block;vertical-align:middle;"><img style="display:inline-block;vertical-align:middle;" src="{{ asset('assets/image/sl_bg_icon.png') }}" alt="BG" /> Actualités</span>
						</span>  
						<span class="tab_sl_item{% if type == 'advert' %} selected{% endif %}" id="tab_sl_advert" data-title="{{ school.name }} - advert" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'advert'}) }}">
							<span style="display:inline-block;vertical-align:middle;"><img style="display:inline-block;vertical-align:middle;" src="{{ asset('assets/image/sl_at_icon.png') }}" alt="AT" /> Annonces</span>
						</span>  
						<span class="tab_sl_item{% if type == 'evaluation' %} selected{% endif %}" id="tab_sl_evaluation" data-title="{{ school.name }} - evaluations" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'evaluation'}) }}">
							<span style="display:inline-block;vertical-align:middle;"><img style="display:inline-block;vertical-align:middle;" src="{{ asset('assets/image/sl_star_icon.png') }}" alt="BG" /> Evaluations</span>
						</span>
						<span class="tab_sl_item{% if type == 'contact' %} selected{% endif %}" id="tab_sl_contact" data-title="{{ school.name }} - contacts" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'contact'}) }}">
							<span style="display:inline-block;vertical-align:middle;"><img style="display:inline-block;vertical-align:middle;" src="{{ asset('assets/image/sl_contact_icon.png') }}" alt="CT" /> Contacts</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_about" style = "{% if type != 'about' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					{{ include("COMSchoolBundle:school:include/about.html.twig") }}
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_new" style = "{% if type != 'post' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					{{ include("COMSchoolBundle:school:include/new.html.twig") }}
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_advert" style = "{% if type != 'advert' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					{{ include("COMSchoolBundle:school:include/advert.html.twig") }}
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_evaluation" style = "{% if type != 'evaluation' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					{{ include("COMSchoolBundle:school:include/evaluation.html.twig") }}
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_contact" style = "{% if type != 'contact' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					{{ include("COMSchoolBundle:school:include/contact.html.twig") }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
