{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  {{ school.name }}
{% endblock %}

{% block styledirect %}
	{# twig extension #}
	{% set cover=schoolCover(school) %}
	{% if cover != "default.jpeg" %}
		{% set pathtocover='uploads/images/school/cover/'~cover %}
	{% else %}
		{% set pathtocover='default/images/school/cover/'~cover %}
	{% endif %}
	<style type="text/css">
		#search{background: rgba(255, 255, 255, 1) url('{{ asset(pathtocover) }}') no-repeat scroll center center / cover ;}
	</style>
{% endblock %}


{% block school_body %}
	<div id="sl_gl" class="cr">
		<div class="ct">
			<div style="padding:5px 9px 1px 9px; border:1px solid transparent">
				
				<div style="float:left;">
					{# twig extension #}
					{% set logo=schoolLogo(school) %}
					{% if logo != "default.jpeg" %}
						{% set pathtologo='uploads/images/school/logo/'~logo %}
					{% else %}
						{% set pathtologo='default/images/school/logo/'~logo %}
					{% endif %}
					
					<img style="width: 100px; height: 100px; border:4px solid #ddd; border-radius:5px;margin-top:-30px" src="{{ pathtologo | imagine_filter('100x100') }}" alt="img sl" />
				</div>
				<div style="margin-left: 120px; min-height:110px">
					<div id="" style="color:#333; font-size:18px; margin-bottom: 6px">
						<a href="{{ path('com_school_view', {'slug': school.slug}) }}">
							{{ school.name }} ({{ school.shortName }}) ({{ school.views | length }} vues)
						</a>
					</div>
					<div id="">
						{{ school.shortDescription }}
					</div>
					<div style="margin-top:10px">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
						<span id="toggle_subscription" data-target="{{ path('com_school_toggle_subscription', {'school_id': school.id}) }}" style="cursor:pointer">
							{% set isSubscribed = isSubscribed(school, app.user) %}
							{% if isSubscribed %}
								<span class="subscription_btn" style="color:#283;display:none">S'abonner</span>
								<span class="unsubscription_btn">Se désabonner</span>
							{% else %}
								<span class="subscription_btn" style="color:#283">S'abonner</span>
								<span class="unsubscription_btn" style="display:none">Se désabonner</span>
							{% endif %}
						</span> 
						{% endif %}
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_ADMIN') %}<a href="{{ path('com_admin_school_edit', {'id': school.id}) }}" target="_blank"><span>Administrer</span></a>{% endif %}
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
	</div>
	
	<div id="sl_dl">
		<div id="sl_onglet_head" style="">
			<div class="cr">
				<div class="ct">
					<div style="margin:0 10px">
						<span class="tab_sl_item{% if type == 'about' %} selected{% endif %}" id="tab_sl_about" data-title="{{ school.name }} - about" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'about'}) }}" >A propos</span>  
						<span class="tab_sl_item{% if type == 'post' %} selected{% endif %}" id="tab_sl_new" data-title="{{ school.name }} - post" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'post'}) }}" >Actualités</span>  
						<span class="tab_sl_item{% if type == 'advert' %} selected{% endif %}" id="tab_sl_advert" data-title="{{ school.name }} - advert" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'advert'}) }}">Annonces</span>  
						<span class="tab_sl_item{% if type == 'evaluation' %} selected{% endif %}" id="tab_sl_evaluation" data-title="{{ school.name }} - evaluations" data-link="{{ path('com_school_view', {'slug': school.slug, 'type': 'evaluation'}) }}">Evaluations</span>
					</div>
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_about" style = "{% if type != 'about' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					<div style="padding:5px; min-height:100px">
						<div>
							{{ school.description | raw}}
						</div>
						<div>
							{# fields #}
							{% if fields %}
								<div class="sep"></div>
								<div style="font-weight:bold">
									Fields
								</div>
								<div class="sep"></div>
								{% for field in fields %}
									<div class="bold">
										{{ field.defaultName }}
									</div>
									<div>
										{{ field.description | raw }}
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_new" style = "{% if type != 'post' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					<!--<div style="border-bottom: 1px solid #999; padding:5px">
						Actualités
					</div>-->
					<div style="padding:5px; min-height:100px">
						{% if postSchools|length == 0 %}
							Aucune actualité à afficher
						{% endif %}
						<div>
						{% for postSchool in postSchools %}
							<div style="border: 1px solid #eee; margin:10px 0;padding:5px">
								<div>
									<span><a style="font-weight:bold;color:#666" href="{{ path('com_blog_view', {'slug': postSchool.post.slug}) }}">{{ postSchool.post.title }}</a></span>
								</div>
								<div>
									{% set postTranslate = getPostTranslate(postSchool.post, locale) %}
									{{ substrSpace(postTranslate.description, 500) }}
								</div>
								<div>
									{# twig extension #}
									{% set userInfo = getLinkUserInfo(postSchool.post.user, postSchool.post.user.name) %}
									By {{ userInfo | raw }}
									  on {{ postSchool.post.date | date('Y-m-d H:i:s') }}
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_advert" style = "{% if type != 'advert' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					<!--<div style="border-bottom: 1px solid #999; padding:5px">
						Annonces
					</div>-->
					<div style="padding:5px; min-height:100px">
						{% if advertSchools|length == 0 %}
							Aucune annonce à afficher
						{% endif %}
						{% for advertSchool in advertSchools %}
							<div style="border: 1px solid #eee; margin:10px 0;padding:5px">
								<div>
									<span><a style="font-weight:bold;color:#666" href="{{ path('com_advert_view', {'slug': advertSchool.advert.slug}) }}">{{ advertSchool.advert.defaultTitle }}</a></span>
								</div>
								<div>
									{% set advertTranslate = getAdvertTranslate(advertSchool.advert, locale) %}
									{% set advertTranslate = getAdvertTranslate(advertSchool.advert, locale) %}
									{{ substrSpace(advertTranslate.content | raw| striptags | convert_encoding('UTF-8', 'HTML-ENTITIES'), 500) }}
								</div>
								<div>
									{# twig extension #}
									{% set userInfo = getLinkUserInfo(advertSchool.advert.user, advertSchool.advert.user.name) %}
									By {{ userInfo | raw }}
									  on {{ advertSchool.advert.date | date('Y-m-d H:i:s') }}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="content_tab_sl_item" id="content_tab_sl_evaluation" style = "{% if type != 'evaluation' %}display:none{% endif %}">
			<div class="cr">
				<div class="ct">
					{{ include("COMSchoolBundle:school:include/evaluation.html.twig") }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
