{% extends "COMSchoolBundle::school.html.twig" %}

{% block title %}
  Schools - {{ category.defaultName }}
{% endblock %}

{% block school_body %}
	<div class="cr">
		<div class="ct">
			<div id="sl_list">
				<div class="sll">
					<div class="mg_h10" style="border: 1px solid #ddd; background: #eee;padding: 10px; font-weight: bold; margin-top: 10px">
					{{ category.defaultName }}
					</div>
					<div id="sll_load_list" style="display:none;">chargement ...</div>
					<div class="sll_ct" style="">
						{% for school in schools %}
							{{ include("COMSchoolBundle:school:include/school_item.html.twig") }}
						{% endfor %}
						<div class="both"></div>
					</div>
					<div class="sll_pagination">
						{{ include("COMSchoolBundle:school:include/pagination_view_category.html.twig") }}
					</div>
				</div>
				<div class="slr" style="">
					<div id="sl_oftheday_right">
						{# twig extension #}
						
						{#{% set school = getSchoolById(1) %}#}
						{% set school = getSchoolOfTheDay() %}
						<div class="title">
							<span>{{ 'the.school.of.the.day' | trans }}</span>
						</div>
						<div style="">
						{{ include("COMSchoolBundle:school:include/school_item.html.twig") }}
						</div>
						{% set schoolTranslate = getSchoolTranslate(school, locale) %}
						<div class="sl_desc" style="text-align:justify">
							{{ substrSpace(schoolTranslate.shortDescription, 180) }}
						</div>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
