{% extends "COMAdminBundle::admin.html.twig" %}

{% block title %}
  Edit advert {{ advert.id }}
{% endblock %}

{% block content_body %}
	
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		Edit advert {{ advert.id }}
		- 
		<span class="dd" style="display:inline-block;">
				<span href="#" class="dd_src" style="cursor:pointer">
					info
				</span>
				<span class="dd_target" style="display:block; padding: 5px; text-align: left; margin-top: 4px; position: absolute; display: none; background: #eee; padding: 4px; border: 1px solid #aaa; border-radius: 4px;">
					<span>Auteur : {{ advert.user.name }}</span><br />
					<span>Date d'ajout : {{ advert.date | date('Y-m-d H:i:s') }}</span><br />
					<span>Nombre de vues : {{ advert.viewNumber }}</span><br />
				</span>
			</span>
	</div>
	
	<div style="padding:5px">
		<div style="float:left; height: 122px;margin:5px">
			{# twig extension #}
			{% set illustration=advertIllustration(advert) %}
			{% if illustration != "default.jpeg" %}
				{% set path='uploads/images/advert/illustration/'~illustration %}
			{% else %}
				{% set path='default/images/advert/illustration/'~illustration %}
			{% endif %}
			
			<label for="advertillustrationfile">
				<img id="advert_illustration" style="width: 116px; height: 116px" src="{{ path | imagine_filter('116x116') }}" alt="img advert" />
			</labe>
			<input style="display:none" id="advertillustrationfile" name="file" class="ajax_advert_illustration" type="file" accept="image/*" data-target="{{ path('com_admin_advert_change_illustration', {'id': advert.id}) }}" /> 
		</div>
		<div style="margin-left: 136px;">
			<div class="bloc_editable">
				<div class="bloc_view">
					<table>
						<tr>
							<td>Default Title</td>
							<td>:</td>
							<td style="padding:5px"><span id="at_view_defaulttitle">{{ advert.defaultTitle }}</span></td>
						</tr>
						<tr>
							<td>Slug</td>
							<td>:</td>
							<td style="padding:5px"><span id="at_view_slug">{{ advert.slug }}</span></td>
						</tr>
					</table>
				</div>
				<div class="bloc_edit" style="display:none">
					<table>
						<tr>
							<td>Default Title</td>
							<td>:</td>
							<td style="padding:5px"><input type="text" id="at_input_defaulttitle" class="default_input" value="{{ advert.defaultTitle }}" /></td>
						</tr>
						<tr>
							<td>Slug</td>
							<td>:</td>
							<td style="padding:5px"><input type="text" id="at_input_slug" class="default_input" value="{{ advert.slug }}" /></td>
						</tr>
					</table>
				</div>
				<div class="separator"></div>
				<div class="bloc_action" style="margin:5px">
					<span class="btn_edit standar_button">Modifier</span> 
					<span class="btn_save standar_button" id="btn_save_at_common" data-target="{{ path('com_admin_advert_edit_common', {'id': advert.id}) }}" style="display:none">Enregistrer</span>
					<span class="btn_reset standar_button" style="display:none">Annuler</span> 
					<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('assets/image/load.gif') }}" />Chargement...</span> 
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	
	{# twig extension #}
	{% set locales = getLocales() %}
	
	<div id="a_content_tab">
	
		<div class="a_content_tab_header">
			<div class="a_content_tab_header_content">
				{% for locale in locales %}
					<div class="a_content_tab_header_item{% if locale.locale == 'fr' %} selected{% endif %}" id="tab_{{ locale.locale }}">
						<div class="a_content_tab_header_item_text">
							{{ locale.label | trans }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="a_content_tab_header_sep">
				<div class="a_content_tab_header_sep_slide">
				</div>
			</div>
		</div>
		<div class="a_content_tab_content">
			{% for locale in locales %}
				{# twig extension #}
				{% set advertTranslate = getAdvertTranslate(advert, locale) %}
				<div class="a_content_tab_content_item{% if locale.locale == 'fr' %} selected{% else %} not_selected{% endif %}" id="content_tab_{{ locale.locale }}" style="">
					<div class="bloc_editable">
						<div class="bloc_view">
							<div>
								<div style="margin: 5px 0;">
									title {{ locale.locale }}:
								</div>
								<div id="" class="att_view_title" style="padding:5px;background:#fff; border-radius:4px;border:1px solid #eee">
									{{ advertTranslate.title }}
								</div>
							</div>
							
							<div style="">
								<div style="margin: 5px 0;">
									Content :
								</div>
								<div id="" class="att_view_content" style="padding:5px;background:#fff; border-radius:4px;border:1px solid #eee">
									{{ advertTranslate.content | raw }}
								</div>
							</div>
						</div>
						<div class="bloc_edit" style="display:none">
							<div>
								<div style="margin: 5px 0;">
									Title {{ locale.locale }}:
								</div>
								<div>
									<input type="text" id="" class="att_input_title default_input" value="{{ advertTranslate.title }}" />
								</div>
							</div>
							<div style="">
								<div style="margin: 5px 0;">
									Content :
								</div>
								<div>
									<textarea id="" class="att_input_content default_textarea tinymce">{{ advertTranslate.content | raw }}</textarea>
								</div>
							</div>
						</div>
						<div class="separator"></div>
						<div class="bloc_action" style="margin:5px">
							<span class="btn_edit standar_button">Modifier</span> 
							<span class="btn_save_at_trans btn_save standar_button" id="" data-target="{{ path('com_admin_advert_edit_translate', {'id': advert.id, 'locale':locale.locale}) }}" style="display:none">Enregistrer</span>
							<span class="btn_reset standar_button" style="display:none">Annuler</span> 
							<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('assets/image/load.gif') }}" />Chargement...</span> 
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	
{% endblock %}

