{% extends "COMAdminBundle::admin.html.twig" %}

{% block title %}
  Edit category {{ category.id }}
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		 Edit category {{ category.id }}
	</div>
	
	<div style="padding:5px">
		<div style="">
			<div class="bloc_editable">
				<div class="bloc_view">
					<table>
						<tr>
							<td>Default Name</td>
							<td>:</td>
							<td style="padding:5px"><span id="bgcat_view_defaultname">{{ category.defaultName }}</span></td>
						</tr>
						<tr>
							<td>Slug</td>
							<td>:</td>
							<td style="padding:5px"><span id="bgcat_view_slug">{{ category.slug }}</span></td>
						</tr>
					</table>
				</div>
				<div class="bloc_edit" style="display:none">
					<table>
						<tr>
							<td>Default Name</td>
							<td>:</td>
							<td style="padding:5px"><input type="text" id="bgcat_input_defaultname" class="default_input" value="{{ category.defaultName }}" /></td>
						</tr>
						<tr>
							<td>Slug</td>
							<td>:</td>
							<td style="padding:5px"><input type="text" id="bgcat_input_slug" class="default_input" value="{{ category.slug }}" /></td>
						</tr>
					</table>
				</div>
				<div class="separator"></div>
				<div class="bloc_action" style="margin:5px">
					<span class="btn_edit standar_button">Modifier</span> 
					<span class="btn_save standar_button" id="btn_save_bgcat_common" data-target="{{ path('com_admin_blog_category_edit_common', {'id': category.id}) }}" style="display:none">Enregistrer</span>
					<span class="btn_reset standar_button" style="display:none">Annuler</span> 
					<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('assets/image/load.gif') }}" />Chargement...</span> 
				</div>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	
	{# twig extension #}
	{% set locales = getLocales() %}
	
	<div id="a_content_tab">
	
		<div class="a_content_tab_header">
			<div class="a_content_tab_header_content">
				{% for locale in locales %}
					<div class="a_content_tab_header_item{% if locale.locale == 'fr' %} selected{% endif %}" id="tab_{{ locale.locale }}">
						<div class="a_content_tab_header_item_text">
							{{ locale.label | trans }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="a_content_tab_header_sep">
				<div class="a_content_tab_header_sep_slide">
				</div>
			</div>
		</div>
		<div class="a_content_tab_content">
			{% for locale in locales %}
				{# twig extension #}
				{% set categoryTranslate = getAdvertCategoryTranslate(category, locale) %}
				<div class="a_content_tab_content_item{% if locale.locale == 'fr' %} selected{% else %} not_selected{% endif %}" id="content_tab_{{ locale.locale }}" style="">
					<div class="bloc_editable">
						<div class="bloc_view">
							<div>
								<div style="margin: 5px 0;">
									name {{ locale.locale }}:
								</div>
								<div id="" class="bgcatt_view_name" style="padding:5px;background:#fff; border-radius:4px;border:1px solid #eee">
									{% if categoryTranslate is not null %}
										{{ categoryTranslate.name }}
									{% else %}
										NAN
									{% endif %}
								</div>
							</div>
							
							<div style="">
								<div style="margin: 5px 0;">
									Description :
								</div>
								<div id="" class="bgcatt_view_description" style="padding:5px;background:#fff; border-radius:4px;border:1px solid #eee">
									{% if categoryTranslate is not null %}
										{{ categoryTranslate.description }}
									{% else %}
										NAN
									{% endif %}
								</div>
							</div>
						</div>
						<div class="bloc_edit" style="display:none">
							<div>
								<div style="margin: 5px 0;">
									name {{ locale.locale }}:
								</div>
								<div>
									<input type="text" id="" class="bgcatt_input_name default_input" value="{% if categoryTranslate is not null %}{{ categoryTranslate.name }}{% else %}{% endif %}" />
								</div>
							</div>
							<div style="">
								<div style="margin: 5px 0;">
									Description :
								</div>
								<div>
									<textarea id="" class="bgcatt_input_description default_textarea">{% if categoryTranslate is not null %}{{ categoryTranslate.description }}{% else %}{% endif %}</textarea>
								</div>
							</div>
						</div>
						<div class="separator"></div>
						<div class="bloc_action" style="margin:5px">
							<span class="btn_edit standar_button">Modifier</span> 
							<span class="btn_save_bgcat_trans btn_save standar_button" id="" data-target="{{ path('com_admin_blog_category_edit_translate', {'id': category.id, 'locale':locale.locale}) }}" style="display:none">Enregistrer</span>
							<span class="btn_reset standar_button" style="display:none">Annuler</span> 
							<span class="btn_loading" style="display:none;padding:5px;border:1px solid transparent;margin: 0px 5px 0px 0px;"><img src="{{ asset('assets/image/load.gif') }}" />Chargement...</span> 
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

