<div id="footer_navigation" class="cr">
	<div id="footer_navigation_content" class="ct">
		<div>
			<ul>
				<li>
					<a href="{{ path('cf_platform_about') }}">
						<span>{{ 'about' | trans }}</span>
					</a>
				</li>
				<li>
					<a href="{{ path('cf_platform_about_team') }}">
						<span>{{ 'team' | trans }}</span>
					</a>
				</li>
				<li>
					<a href="{{ path('cf_platform_about_notice') }}">
						<span>{{ 'legal.notice' | trans }}</span>
					</a>
				</li>
				<li><!--
					<span id="contact2">nous contacter</span>
					-->
					<a href="{{ path('cf_platform_contact') }}">
						<span>{{ 'contact.us' | trans }}</span>
					</a>
					
				</li>
				<li>
					<a href="{{ path('cf_platform_newsletter') }}">
						<span>{{ 'newsletter' | trans }}</span>
					</a>
				</li>
			</ul>
		</div>
		<div style="text-align:center; margin: 10px 0">
			{% set categories = getCategoriesWithPublishedSchool(0) %}
			{% for category in categories %}
				{{ include("COMSchoolBundle:school:include/school_category_footer_item.html.twig") }}
			{% endfor %}
		</div>
	</div>
</div>