<div class="fm_msg_item">
	<div style="margin:10px;">
		<div class="topic_illustration" style="float:left; width:60px">
			{% set avatar=userAvatar(message.user) %}
			{% if avatar != "default.jpeg" %}
				{% set path='uploads/images/user/avatar/'~avatar %}
			{% else %}
				{% set path='default/images/user/avatar/'~avatar %}
			{% endif %}
			
			<img style="width: 60px; height: 60px; border-radius: 50%" src="{{ path | imagine_filter('60x60') }}" alt="{{ message.user.username }}" />
		</div>
		<div style="margin-left:70px">
			<div>
				{# twig extension #}
				{% set userInfo = getLinkUserInfo(message.user, message.user.name) %}
				{{ userInfo | raw }}
				  on {{ message.date | date('Y-m-d H:i:s') }}
			</div>
			<div>
				{{ message.message | nl2br   }}
			</div>
		</div>
		<div class="both"></div>
	</div>
	<div class="sp mg_v10"></div>
</div>