<div class="fm_msg_item">
	<div style="margin:10px;">
		<div class="topic_illustration" style="float:left; width:60px">
			{% set avatar=userAvatar(message.user) %}
			{% if avatar != "default.jpeg" %}
				{% set path='uploads/images/user/avatar/'~avatar %}
			{% else %}
				{% set path='default/images/user/avatar/'~avatar %}
			{% endif %}
			
			<img style="width: 60px; height: 60px" src="{{ path | imagine_filter('60x60') }}" alt="{{ message.user.username }}" />
		</div>
		<div style="margin-left:70px">
			<div>
				<span data-userid="{{ message.user.id }}"  data-target="{{ path('com_user_info_popup', {'id': message.user.id}) }}" data-timeoutid="" class="user_hover_info">
					<a  style="font-weight:bold" class="link" id="profil_link" href="{{ path('com_user_profile', {'username': message.user.username}) }}">
						{{ message.user.name }}
					</a> on {{ message.date | date('Y-m-d H:i:s') }}
				</span>
			</div>
			<div>
				{{ message.message | nl2br   }}
			</div>
		</div>
		<div style="clear:both"></div>
	</div>
	<div style="background:#ccc; height:1px; width:100%; margin:12px 0"></div>
</div>