<div style="padding:5px; margin:10px; border:1px solid #ddd; border-radius:4px">
	<div class="topic_illustration" style="float:left; width:60px">
		{% set avatar=userAvatar(subject.user) %}
		{% if avatar != "default.jpeg" %}
			{% set path='uploads/images/user/avatar/'~avatar %}
		{% else %}
			{% set path='default/images/user/avatar/'~avatar %}
		{% endif %}
		
		<img style="width: 60px; height: 60px" src="{{ path | imagine_filter('60x60') }}" alt="{{ subject.user.username }}" />
	</div>
	<div style="margin-left:70px">
		<div>
			<a  style="font-weight:bold" class="link" id="profil_link" href="{{ path('com_user_profile', {'username': subject.user.username}) }}">{{ subject.user.name }}</a> on {{ subject.date | date('Y-m-d H:i:s') }}
		</div>
		<div>
			<a href="{{ path('com_forum_view_subject', {'slug': subject.slug}) }}">{{ subject.title }}</a>
		</div>
	</div>
	<div style="clear:both"></div>
</div>