{% set subjects=getSubjectsByTopic(topic) %}

<div class="fm_topic_item">
	<div class="fm_topic_item_left">
		<div class="topic_illustration">
			{# twig extension #}
			{% set illustration=topicIllustration(topic) %}
			{% if illustration != "default.jpeg" %}
				{% set path='uploads/images/forum/topic/illustration/'~illustration %}
			{% else %}
				{% set path='default/images/forum/topic/illustration/'~illustration %}
			{% endif %}
			
			<img src="{{ path | imagine_filter('60x60') }}" alt="{{ topic.name }}" />
		</div>
		<div class="fm_topic_item_subject">
			{{ subjects | length }}<br />
			{% if subjects | length == 0 or subjects | length == 1 %}
				Subject
			{% else %}
				Subjects
			{% endif %}
		</div>
		<div class="fm_topic_item_manage">
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_ADMIN') %}<a href="{{ path('com_admin_forum_topic_edit', {'id': topic.id}) }}" target="_blank"><span>Manage</span></a>{% endif %}
		</div>
	</div>
	<div class="fm_topic_item_right">
		<div class="fm_topic_item_name">
			<a class="fm_topic_item_link" href="{{ path('com_forum_view_topic', {'slug': topic.slug}) }}" title="{{ topic.name }}">{{ topic.name }}</a>
		</div>
		<div class="fm_topic_item_desc">
			<span title="{{ topic.description }}">{{ substrSpace(topic.description, 80) }}</span>
		</div>
		<div class="fm_topic_item_right_sep"></div>
		<div>
			<!-- last message -->
			{% set message=getLastMessageByTopicId(topic.id) %}
			{% if message is not null %}
				<div>
					Last message by 
					{# twig extension #}
					{% set userInfo = getLinkUserInfo(message.user, message.user.username) %}
					{{ userInfo | raw }}
				</div>
				<div>
					on {{ message.date | date('Y-m-d H:i:s') }}
				</div>
			{% else %}
				Aucun Sujet sur ce topic<br />
				<a href="{{ path('com_forum_view_topic', {'slug': topic.slug}) }}" title="{{ topic.name }}">Soyez le premier à poster !!!</a>
			{% endif %}
		</div>
	</div>
	<div style="clear:both"></div>
</div>