<div style="padding:5px; min-height:100px">
	{% if adverts|length == 0 %}
		Aucune annonce à afficher
	{% endif %}
	{% for advert in adverts %}
		<div style="border: 1px solid #eee; margin:10px 0;padding:5px">
			<div>
				<span><a style="font-weight:bold;color:#666" href="{{ path('com_advert_view', {'slug': advert.slug}) }}">{{ advert.title }}</a></span>
			</div>
			<div>
				{{ substrSpace(advert.content | raw| striptags | convert_encoding('UTF-8', 'HTML-ENTITIES'), 500) }}
			</div>
			<div>
				{# twig extension #}
				{% set userInfo = getLinkUserInfo(advert.user, advert.user.name) %}
				By {{ userInfo | raw }}
				  on {{ advert.date | date('Y-m-d H:i:s') }}
			</div>
		</div>
	{% endfor %}
</div>