<div class="contact_item mg_b10">
	<div class="sp mg_v5"></div>
	<div class="">
		<div class="mg_b5">
			{% if schoolContact.longitude | trim != "" or schoolContact.latitude | trim != "" %}
				<div id="map_contact_{{ schoolContact.id }}" style="background:#eee; margin-bottom:10px;height:250px"></div>
			{% endif %}
			<div style="">
				{% if schoolContact.address | trim != "" %}
					<div>address : {{ schoolContact.address }}</div>
				{% endif %}
				{% if schoolContact.email | trim != "" %}
					<div>email : {{ schoolContact.email }}</div>
				{% endif %}
				{% if schoolContact.phone | trim != "" %}
					<div>phone : {{ schoolContact.phone }}</div>
				{% endif %}
				{% if schoolContact.website | trim != "" %}
					<div>website : {{ schoolContact.website }}</div>
				{% endif %}
				
				{% if schoolContact.longitude | trim != "" or schoolContact.latitude | trim != "" %}
					<div>longitude : {{ schoolContact.longitude }} latitude : {{ schoolContact.latitude }}</div>
				{% endif %}
				
				{# twig extension #}
				{% set schoolContactTranslate = getSchoolContactTranslate(schoolContact, locale) %}
				
				{% if schoolContactTranslate %}
					{% if schoolContactTranslate.description | trim != "" %}
						<div class="pd_5 mg_t5" style="border:1px solid #eee; background:#d7e7fe; border-radius:3px">{{ schoolContactTranslate.description }}</div>
					{% endif %}
				{% endif %}
			</div>
				
		</div>
		{% if schoolContact.longitude | trim != "" or schoolContact.latitude | trim != "" %}
			<script type="text/javascript">
				$(function() {
					var map{{ schoolContact.id }};
					map{{ schoolContact.id }} = new GMaps({
						el: '#map_contact_{{ schoolContact.id }}',
						lat: {{ schoolContact.longitude }},
						lng: {{ schoolContact.latitude }},
						zoomControl : true,
						zoomControlOpt: {
							style : 'SMALL',
							position: 'TOP_LEFT'
						},
						panControl : false,
						streetViewControl : false,
						mapTypeControl: false,
						overviewMapControl: false
					});
				});
			 </script>
		{% endif %}
	</div>
</div>