<div class="contact_item mg_b10">
	<div class="sp mg_v10"></div>
	<div class="mg_b5">
		address : {{ schoolContact.address }}<br />
		phone : {{ schoolContact.phone }}<br />
		website : {{ schoolContact.website }}<br />
		longitude : {{ schoolContact.longitude }}<br />
		latitude : {{ schoolContact.latitude }}<br />
	</div>
	<div class="both"></div>
</div>