<div class="contact_item mg_b10">
	<div class="sp mg_v10"></div>
	<div class="mg_b5">
		<div style="float:left; width:400px">
			address : {{ schoolContact.address }}<br />
			phone : {{ schoolContact.phone }}<br />
			website : {{ schoolContact.website }}<br />
			longitude : {{ schoolContact.longitude }}<br />
			latitude : {{ schoolContact.latitude }}<br />
		</div>
		<div id="map_contact_{{ schoolContact.id }}" style="background:#eee; margin-left:410px;height:200px">
			
		</div>
		<div class="both">
			
		</div>
		<script type="text/javascript">
			
			$(function() {
				var map{{ schoolContact.id }};
				map{{ schoolContact.id }} = new GMaps({
					el: '#map_contact_{{ schoolContact.id }}',
					lat: {{ schoolContact.longitude }},
					lng: {{ schoolContact.latitude }},
					zoomControl : true,
					zoomControlOpt: {
						style : 'SMALL',
						position: 'TOP_LEFT'
					},
					panControl : false,
					streetViewControl : false,
					mapTypeControl: false,
					overviewMapControl: false
				});
			});
		 </script>
	</div>
	<div class="both"></div>
</div>