<div style="min-height:100px" class="">
	{% if posts|length == 0 %}
		<div style="margin:auto; padding-top: 30px; text-align:center; font-weight:bold">
			Aucune actualité à afficher
		</div>
	{% else %}		
		{#
			<div>
				{% for post in posts %}
					{{ include("COMBlogBundle:blog:include/post_item.html.twig") }}
				{% endfor %}
			</div>
		#}
		
		<div id="bg_list" style="overflow:hidden">
			<div class="bgl">
				<div id="bg_list_post">
					{% for post in posts %}
						{{ include("COMBlogBundle:blog:include/post_item.html.twig") }}
					{% endfor %}
				</div>
			</div>
			<div class="bgr" style="">
				<div style="margin:10px; width:auto; background:#fff">
					
					<div style="padding: 8px 0px; font-weight:bold; background:#eee;margin-bottom:5px;border-bottom:3px solid #ddd; text-align:center;">
						<a href="{{ path('com_blog_category') }}" style="display:block;">
							Calendar
						</a>
					</div>

					<div id="bg_calendar">
						<div id="bg_load_calendar" style="display:none; position:absolute;background:rgba(255,255,255,0.8);text-align:center;box-sizing:border-box">chargement ...</div>
						{% set month = "now" %}
						<div id="bg_calendar_ct">
						{{ include("COMBlogBundle:blog:include/calendar.html.twig") }}
						</div>
					</div>
				</div>
				<div style="min-height:400px; margin:10px; width:auto; background:#fff">
					
					<div style="padding: 8px 0px; font-weight:bold; background:#eee;margin-bottom:5px;border-bottom:3px solid #ddd; text-align:center;">
						<a href="{{ path('com_blog_category') }}" style="display:block;">
							Categories
						</a>
					</div>
					{# twig extension #}
					{% set categories = getCategoryWithPublishedPost() %} 
					{% for category in categories %}
						<div style="min-height:20px; background:#eee;margin-bottom:5px;padding:10px;border-radius:2px">
							{% set posts = getPublishedPostsByCategory(category) %} 
							<div>
								<a href="{{ path('com_blog_category_view', {'slug': category.slug}) }}" style="display:block;">
									<span style="font-weight:bold">{{ category.defaultName }}</span> <span>({{ posts | length }})</span>
								</a>
							</div>
							<div class="sp mg_v5"></div>
							<div>
								{% set lastPost = posts[posts | length - 1] %} 
								<div>{{ lastPost.date | date('Y-m-d H:i:s') }} </div>
								<div>
									{# twig extension #}
									{% set illustration=postIllustration(lastPost) %}
									{% if illustration != "default.jpeg" %}
										{% set path='uploads/images/post/illustration/'~illustration %}
									{% else %}
										{% set path='default/images/post/illustration/'~illustration %}
									{% endif %}
									<a href="{{ path('com_blog_view', {'slug': lastPost.slug}) }}" style="display:block; padding-bottom:0px;min-height: 40px">
										<span style="display:block;float:left;width:36px"><img id="post_illustration" style="width: 36px; height: 36px;display:block;margin-top: 4px" src="{{ path | imagine_filter('36x36') }}" alt="img post" /></span>
										<span style="display:block;margin-left:44px;">{{ lastPost.defaultTitle }}</span>
										<span style="clear:both"></span>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="both"></div>
		</div>
	{% endif %}
</div>