<div style="padding:5px; min-height:100px">
	{% if posts|length == 0 %}
		Aucune actualité à afficher
	{% endif %}
	<div>
	{% for post in posts %}
		<div style="border: 1px solid #eee; margin:10px 0;padding:5px">
			<div>
				<span><a style="font-weight:bold;color:#666" href="{{ path('com_blog_view', {'slug': post.slug}) }}">{{ post.title }}</a></span>
			</div>
			<div>
				{{ substrSpace(post.description, 500) }}
			</div>
			<div>
				{# twig extension #}
				{% set userInfo = getLinkUserInfo(post.user, post.user.name) %}
				By {{ userInfo | raw }}
				  on {{ post.date | date('Y-m-d H:i:s') }}
			</div>
		</div>
	{% endfor %}
	</div>
</div>