<div class="sl_item" style="">
	{# twig extension #}
	{% set logo=schoolLogo(school) %}
	{% if logo != "default.jpeg" %}
		{% set pathtologo='uploads/images/school/logo/'~logo %}
	{% else %}
		{% set pathtologo='default/images/school/logo/'~logo %}
	{% endif %}
	<div class="sl_header">
		<div class="sl_logo">
			{#<img style="" src="{{ pathtologo | imagine_filter('140x140') }}" alt="img sl" />#}
			
			{# twig extension #}
			{% set cover=schoolCover(school) %}
			{% if cover != "default.jpeg" %}
				{% set pathtocover='uploads/images/school/cover/'~cover %}
			{% else %}
				{% set pathtocover='default/images/school/cover/'~cover %}
			{% endif %}

			<img style="" src="{{ pathtocover | imagine_filter('218x140') }}" alt="img sl" />
		</div>
		<div class="sl_category" style="height: 140px;position: absolute;text-align: center;width: 218px;z-index: 4;background:rgba(255,255,255,0.25)">			
			{# twig extension #}
			{% set categories=getCategoriesBySchool(school, 6, true) %}
			{% for category in categories %}
				<div style="width:100%; text-align:right; color:#000;text-shadow: 1px 1px 2px #fff;box-sizing:border-box; padding:0 4px; margin-bottom:1px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ category.defaultName }}</div>
			{% endfor %}
		</div>
		<div class="sl_short_description">
			{% set schoolTranslate = getSchoolTranslate(school, locale) %}
			{{ substrSpace(schoolTranslate.shortDescription, 165) }}
		</div>
	</div>
	<div class="sl_label">
		<a title="{{ school.name }}" href="{{ path('com_school_view', {'slug': school.slug}) }}">
			{% if school.shortName | trim != "" %}
				<span class="sl_shortname">{{ school.shortName }}</span>
				<br />
			{% endif %}
			<span class="sl_name">{{ school.name }}</span>
		</a>
	</div>
	<div class="sl_action">
		<div class="sl_action_about">
			{# twig extension #}
			{% set logo=schoolLogo(school) %}
			{% if logo != "default.jpeg" %}
				{% set pathtologo='uploads/images/school/logo/'~logo %}
			{% else %}
				{% set pathtologo='default/images/school/logo/'~logo %}
			{% endif %}
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'about'}) }}"><img style="display:inline-block; width:20px; height:20px; border-radius: 3px; border: 1px solid #bbb" src="{{ pathtologo | imagine_filter('20x20') }}" alt="AU" /></a>
		</div>
		<div class="sl_action_bg">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'post'}) }}"><img src="{{ asset('assets/image/sl_bg_icon.png') }}" alt="BG" /></a>
		</div>
		<div class="sl_action_at">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'advert'}) }}"><img src="{{ asset('assets/image/sl_at_icon.png') }}" alt="AT" /></a>
		</div>
		<div class="sl_action_evaluation">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'evaluation'}) }}"><img src="{{ asset('assets/image/sl_star_icon.png') }}" alt="EV" /></a>
		</div>
		{# 
		<div class="sl_action_contact">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'contact'}) }}"><img src="{{ asset('assets/image/sl_contact_icon.png') }}" alt="CT" /></a>
		</div>
		#}
	</div>
</div>