<div style="">
	{# twig extension #}
	{% set logo=schoolLogo(school) %}
	{% if logo != "default.jpeg" %}
		{% set pathtologo='uploads/images/school/logo/'~logo %}
	{% else %}
		{% set pathtologo='default/images/school/logo/'~logo %}
	{% endif %}
	{#
	<a title="{{ school.name }}" href="{{ path('com_school_view', {'slug': school.slug}) }}" style="display:inline-block; width: 100%;overflow: hidden; padding-top: 7px; text-overflow: ellipsis;white-space: nowrap;">
		<span style="display:inline-block; vertical-align: top; ">
			<img style="" src="{{ pathtologo | imagine_filter('22x22') }}" alt="" />
		</span>
		<span style="display:inline-block;vertical-align: top; ">	
			<span>{{ school.name }}</span> 
			{% if school.shortName | trim != "" %}
				<span>({{ school.shortName }})</span>
			{% endif %}
		</span>
	</a>
	#}
	
	<a title="{{ school.name }}" href="{{ path('com_school_view', {'slug': school.slug}) }}" style="display:inline-block; width: 100%;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
		<img src="{{ pathtologo | imagine_filter('22x22') }}" alt="" style="vertical-align: top; "/> 
		{% if school.shortName | trim != "" %}
		{{ school.shortName }} - 
		{% endif %}
		{{ school.name }}
	</a>
</div>