{# twig extension #}
{% set logo=schoolLogo(school) %}
{% if logo != "default.jpeg" %}
	{% set pathtologo='uploads/images/school/logo/'~logo %}
{% else %}
	{% set pathtologo='default/images/school/logo/'~logo %}
{% endif %}

<div class="sl_item" style="">
	<div class="sl_header">
		<div class="sl_logo">
			{#<img style="" src="{{ pathtologo | imagine_filter('140x140') }}" alt="img sl" />#}
			
			{# twig extension #}
			{% set cover=schoolCover(school) %}
			{% if cover != "default.jpeg" %}
				{% set pathtocover='uploads/images/school/cover/'~cover %}
			{% else %}
				{% set pathtocover='default/images/school/cover/'~cover %}
			{% endif %}


			<img style="" src="{{ pathtocover | imagine_filter('218x140') }}" alt="img sl" />
		</div>
		<div class="sl_short_description">
			{{ substrSpace(school.shortDescription, 165) }}
		</div>
	</div>
	<div class="sl_label">
		<a title="{{ school.name }}" href="{{ path('com_school_view', {'slug': school.slug}) }}">
			<span class="sl_shortname">{{ school.shortName }}</span>
			<br />
			<span class="sl_name">{{ school.name }}</span>
		</a>
	</div>
	<div class="sl_action">
		<div class="sl_action_about">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'about'}) }}">AU</a>
		</div>
		<div class="sl_action_bg">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'post'}) }}">BG</a>
		</div>
		<div class="sl_action_at">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'advert'}) }}">AT</a>
		</div>
		<div class="sl_action_evaluation">
			<a href="{{ path('com_school_view', {'slug': school.slug, 'type': 'evaluation'}) }}">EV</a>
		</div>
	</div>
</div>