{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
  Recherche
{% endblock %}


{% block platform_body %}
	<div>
		Resultat de recherche...
	</div>
	<div style="margin: 10px; background:#ddd; padding: 5px">
		Recherche sur l'entité <span style="font-weight:bold">{{ entity }}</span><br />
		Critère de recherche <span style="font-weight:bold">{{ q }}</span>.
	</div>
	<div>
		liste resultat<br />
		{% if entity == 'school' %}
			{% for school in resultList %}
				{{ include("COMPlatformBundle:search:include/school_item.html.twig") }}
			{% endfor %}
		{% elseif entity == 'new' %}
			{% for post in resultList %}
				{{ include("COMPlatformBundle:search:include/new_item.html.twig") }}
			{% endfor %}
		{% elseif entity == 'advert' %}
			{% for advert in resultList %}
				{{ include("COMPlatformBundle:search:include/advert_item.html.twig") }}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
