<div class="post_item">
	<h2 class="post_title">
		<a href="{{ path('com_blog_view', {'slug': post.slug}) }}">{{ post.title }}</a>
	</h2>
	<div class="meta_info">
		<div class="date_info">{{ post.date | date('Y-m-d H:i:s') }}</div>
		
		{% set category = getCategoryByPost(post) %}
		{% if category %}
			<div class="tag_info"><a href="#" rel="category tag">{{ category.defaultName }}</a></div>
		{% endif %}
		
		{% set comments = getCommentsByPost(post) %}
		{% if comments | length == 0 or comments | length == 1  %}
			<div class="comment_info">{{ comments | length }} commentaire</div>
		{% else %}
			<div class="comment_info">{{ comments | length }} commentaires</div>
		{% endif %}
	</div>
	<div class="post_image">
		{# twig extension #}
		{% set illustration=postIllustration(post) %}
		{% if illustration != "default.jpeg" %}
			{% set path='uploads/images/post/illustration/'~illustration %}
		{% else %}
			{% set path='default/images/post/illustration/'~illustration %}
		{% endif %}
		
		<img style="width: 100%; height: auto" src="{{ path | imagine_filter('960x240') }}?v=001" alt="{{ post.title }}" />
	</div>
	<div class="post_ct">
		<div class="post_ct_desc" style="margin:10px 0">
			{{ substrSpace(post.description, 410) }}
		</div>
	</div>
	<div class="post_action">
		<a class="standar_button" href="{{ path('com_blog_view', {'slug': post.slug}) }}">Lire la suite</a>
	</div>
	<div class="sp mg_v5"></div>
</div>