{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
  Accueil
{% endblock %}


{% block platform_body %}
	<div class="cr">
		<div class="ct">
			<div style="margin:30px 0px;">
				<div class="fm_list_topic">
					{% for category in categories %}
						{{ include("COMSchoolBundle:school:include/school_category_item.html.twig") }}
					{% endfor %}
					<div class="both"></div>
					<div style="text-align:center; margin:10px 0">
						<a href="{{ path('com_school_categories') }}" class="standar_button">Afficher toute les catégories</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cr">
		<div class="ct">
			<div style="margin:30px 10px; font-size:16px;text-align:justify">
				Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum inpendentium exprimebat.
			</div>
		</div>
	</div>
	
	{# twig extension #}
	{#{% set school = getSchoolById(1) %}#}
	{% set school = getSchoolOfTheDay() %}
	{% if school %}
		{% set schoolTranslate = getSchoolTranslate(school, locale) %}
		<div class="cr">
			<div class="ct">
				<div id="sl_oftheday_title">
					<span>{{ 'the.school.of.the.day' | trans }}</span>
				</div>
				<div id="sl_oftheday_desc">
					{{ schoolTranslate.shortDescription }}
				</div>
				<div id="sl_oftheday_wrap">
					{{ include("COMSchoolBundle:school:include/school_of_the_day.html.twig") }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
