{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
  Accueil
{% endblock %}


{% block platform_body %}
	
	<div class="cr">
		<div class="ct">
			<div style="margin: 30px 0">
				<div style="width:50%;float:left">
					<div style="margin:10px;border:1px solid #ddd; background:#f5f5f5;min-height:160px;text-align:center">
						<div style="margin:10px">
							<div style="font-weight:bold">
								<img src="{{ asset('assets/image/logo_sl.png')  }}" style="width:70px; height:70px;" />
							</div>
							<div style="">
								{{ allSchools | length }} écoles reparties sur {{ allCategories | length }} catégories
							</div>
							<div style="">
								{{ evaluatedSchools | length }} écoles évaluées - {{ allEvaluations | length }} evaluations
							</div>
						</div>
					</div>
				</div><!--
				--><div style="width:50%;float:left">
					<div style="margin:10px;border:1px solid #ddd; background:#f5f5f5;min-height:160px;text-align:center">
						<div style="margin:10px">
							<div style="font-weight:bold">
								<img src="{{ asset('assets/image/icon_gl.png')  }}" style="width:70px; height:70px;" />
							</div>
							<div style="">
								Tantum autem cuique tribuendum
							</div>
							<div style="">
								Erat autem diritatis eius hoc quoque
							</div>
						</div>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
	
	<div class="cr">
		<div class="ct">
			<div style="margin:30px 10px; font-size:16px;text-align:justify">
				Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum inpendentium exprimebat.
			</div>
		</div>
	</div>
	
	{# twig extension #}
	{#{% set school = getSchoolById(1) %}#}
	{% set school = getSchoolOfTheDay() %}
	{% if school %}
		{% set schoolTranslate = getSchoolTranslate(school, locale) %}
		<div class="cr">
			<div class="ct">
				<div id="sl_oftheday_title">
					<span>{{ 'the.school.of.the.day' | trans }}</span>
				</div>
				<div id="sl_oftheday_desc">
					{{ schoolTranslate.shortDescription }}
				</div>
				<div id="sl_oftheday_wrap">
					{{ include("COMSchoolBundle:school:include/school_of_the_day.html.twig") }}
				</div>
			</div>
		</div>
	{% endif %}
	
	<div class="cr">
		<div class="ct">
			<div style="margin:30px 10px; font-size:16px;text-align:justify">
				Excogitatum est super his, ut homines quidam ignoti, vilitate ipsa parum cavendi ad colligendos rumores per Antiochiae latera cuncta destinarentur relaturi quae audirent. hi peragranter et dissimulanter honoratorum circulis adsistendo pervadendoque divites domus egentium habitu quicquid noscere poterant vel audire latenter intromissi per posticas in regiam nuntiabant, id observantes conspiratione concordi, ut fingerent quaedam et cognita duplicarent in peius, laudes vero supprimerent Caesaris, quas invitis conpluribus formido malorum inpendentium exprimebat.
			</div>
		</div>
	</div>
	
	<div class="cr">
		<div class="ct">
			<div style="margin:30px 0px;">
				<div class="fm_list_topic">
					{% for category in categories %}
						{{ include("COMSchoolBundle:school:include/school_category_item.html.twig") }}
					{% endfor %}
					<div class="both"></div>
					<div style="text-align:center; margin:10px 0">
						<a href="{{ path('com_school_categories') }}" class="standar_button">Afficher toute les catégories</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{#last added schools#}
	{# twig extension #}
	{% set lastAddedSchools=getLastAddedSchools(5) %}
	{% if lastAddedSchools %}
		<div class="cr">
			<div class="ct">
				<div style="margin:10px;font-weight:bold; background:#eee; border:1px solid #ddd; padding:5px">
					last added schools
				</div>
				<div class="sl_related" style="text-align:center;"><!--
					{% for school in lastAddedSchools %}
						-->{{ include("COMSchoolBundle:school:include/school_item.html.twig") }}<!--
					{% endfor %}
				--></div>
			</div>
		</div>
	{% endif %}
{% endblock %}
