{% extends "COMAdminBundle::admin.html.twig" %}

{% block title %}
  List of posts
{% endblock %}

{% block body_header %}
	<div style="padding:8px;float:left">
		<span>Blog </span> 
		<span class="dd" style="display:inline-block;">
			<span href="#" class="dd_src" style="cursor:pointer">
				<span style="
					display:inline-block; 
					border-left: 8px solid #444;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-right: 0px solid transparent;
					">
				</span>
			</span>
			<div class="dd_target" style="text-align: left; margin-top: 4px; position: absolute; display: none; background: #eee; padding: 4px; border: 1px solid #aaa; border-radius: 4px;">
				<a class="link" href="test.html">menu 1</a><br />
				<a class="link" href="test.html">menu 2 </a>
			</div>
		</span> 
		<span>List of posts </span>
	</div>
	<div style="padding:8px;float:right">
		<span><a href="{{ path('com_admin_blog_post_add') }}">New post</a></td></span> 
	</div>
{% endblock %}

{% block content_body %}
	<div style="background:#ddd; padding: 5px; margin:5px; border:1px solid #bbb">
		List of posts...
	</div>
	
	<div class="a_datatable">
		<div class="a_datatable_head">
			<div class="a_datatable_head_left">
				left
			</div>
			<div class="a_datatable_head_right">
				right
			</div>
		</div>
		
		
		<div class="a_datatable_body">
			<table class="a_table">
				<tr class="a_table_head">
					<th class="a_table_cell_id">id</th>
					<th>title</th>
					<th>author</th>
					<th class="a_table_cell_action">action</th>
				</tr>
				{% for post in posts %}
				<tr class="a_table_line">
					{# twig extension #}
					{% set illustration=postIllustration(post) %}
					{% if illustration != "default.jpeg" %}
						{% set path='uploads/images/post/illustration/'~illustration %}
					{% else %}
						{% set path='default/images/post/illustration/'~illustration %}
					{% endif %}
					
					<td class="a_table_cell_id">{{ post.id }}</td>
					<td><a href="{{ path('com_admin_blog_post_edit', {'id': post.id}) }}" style="display:block;">
						<span style="display:block;float:left;width:32px"><img id="post_illustration" style="width: 32px; height: 32px" src="{{ path | imagine_filter('32x32') }}" alt="img post" /></span>
						<span style="display:block;margin-left:36px;padding-top:6px">{{ post.defaultTitle }}</span>
						<span style="clear:both"></span>
					</a></td>
					{#
						{% set avatar=userAvatar(post.user) %}
						{% if avatar != "default.jpeg" %}
							{% set pathtoavatar='uploads/images/user/avatar/'~avatar %}
						{% else %}
							{% set pathtoavatar='default/images/user/avatar/'~avatar %}
						{% endif %}
						
						<td>
							<span style="display:block;float:left;width:32px"><img id="avatar_banner" style="width:30px; height: 30px" src="{{ pathtoavatar | imagine_filter('32x32') }}" alt="{{ post.user.username }}" /></span>
							<span style="display:block;margin-left:36px;padding-top:6px">{{ post.user.name }}</span>
							<span style="clear:both"></span>
						</td>
					#}
					<td>
						<span>{{ post.user.name }}</span>
					</td>
					<td class="a_table_cell_action">action</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="a_datatable_foot">
			<div class="a_datatable_foot_left">
				left
			</div>
			<div class="a_datatable_foot_right">
				<span>right</span> 
				<span>1</span> 
				<span>2</span> 
				<span>3</span> 
			</div>
		</div>
	</div>
{% endblock %}

