<div id="navigation" class="cr">
	<div id="navigation_content" class="ct">
		<div id="" class="ct10">
			<div id="nav_left">
				<ul>
					<li>
						<a href="{{ path('com_platform_home') }}" class="">
							<img src="{{ asset('assets/image/oio.svg')  }}" style="width:24px; height:24px;display: inline-block; vertical-align: middle;" />{#<!--
							--><span style="inline-block; vertical-align: middle; padding-left:5px">{{ 'home' | trans }}#}</span>{#{ entityView }#}
						</a>
					</li>
				</ul>
				<div class="dd nav_responsive">
					<a href="#" class="dd_src">
						<span class="normal"></span>
						<span class="transparent"></span>
						<span class="normal"></span>
						<span class="transparent"></span>
						<span class="normal"></span>
					</a>
					<div class="dd_target" data-display="block" id="locale_choice">
						<div class="link_wrap">
							<a class="link" href="{{ path('com_school_home') }}">
								<span>{{ 'school' | trans }}</span>
							</a>
						</div>
						<div class="link_wrap">
							<a class="link" href="{{ path('com_blog_home') }}">
								<span>{{ 'blog' | trans }}</span>
							</a>
						</div>
						<div class="link_wrap">
							<a class="link" href="{{ path('com_advert_home') }}">
								<span>{{ 'advert' | trans }}</span>
							</a>
						</div>
						<div class="link_wrap">
							<a class="link" href="{{ path('com_forum_home') }}">
								<span>{{ 'forum' | trans }}</span>
							</a>
						</div>
					</div>
				</div>
				<ul class="nav_not_responsive">
					<li>
						<a href="{{ path('com_school_home') }}" class="">
							<span style="inline-block; vertical-align: middle;">{{ 'school' | trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('com_blog_home') }}" class="">
							<span style="inline-block; vertical-align: middle;">{{ 'blog' | trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('com_advert_home') }}" class="">
							<span style="inline-block; vertical-align: middle;">{{ 'advert' | trans }}</span>
						</a>
					</li>
					<li>
						<a href="{{ path('com_forum_home') }}" class="">
							<span style="inline-block; vertical-align: middle;">{{ 'forum' | trans }}</span>
						</a>
					</li>
				</ul>
			</div>
			
			<div id="nav_right">
				<div id="locale">
					<div class="dd">
						<a href="#" class="dd_src standar_button">
							<span class="current_locale">
								{% set currentLocale = getLocale(app.request.getLocale()) %}
								<span class="label">{{ currentLocale.label | trans }}</span> 
								<span class="flag">
									<img src="{{ asset('assets/image/flag/' ~ app.request.getLocale() ~ '.svg')  }}" alt="{{ app.request.getLocale() }}" height="20px" width="20px" />
								</span>
							</span>
						</a>
						<div class="dd_target" data-display="block" id="locale_choice">
							{# 
							appel du fonction (twig.extension) getLocales pour avoir la liste des locales
							#}
							{% set locales = getLocales() %}
							<table>
								{% for locale in locales %}
									{% set route = app.request.attributes.get('_route') %}
									{% set params = app.request.attributes.get('_route_params')|merge({'_locale': locale.locale}) %}
									<tr class="local_item">
										<td>
											<span class="local_icon">
												{% if app.request.getLocale() == locale.locale %}
													{% set borderColor = '#4d4' %}
												{% else %}
													{% set borderColor = '#ccc' %}
												{% endif %}
												<img src="{{ asset('assets/image/flag/' ~ locale.locale ~ '.svg')  }}" alt="{{ locale.locale }}" height="20px" width="20px" style="border:2px solid {{ borderColor }}; border-radius:50% 50%" />
											</span>
										</td>
										<td><span class="local_label"><a class="link" href="{{ path(route, params) }}">{{ locale.label | trans }}</a></span></td>
										{#
											<td>
											{% if app.request.getLocale() == locale.locale %}
												<span class="local_state"></span>
											{% endif %}
											</td>
										#}
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
				<div id="user">
					<div class="dd">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{% set avatar=userAvatar(app.user) %}
							{% if avatar != "default.jpeg" %}
								{% set pathtoavatar='uploads/images/user/avatar/'~avatar %}
							{% else %}
								{% set pathtoavatar='default/images/user/avatar/'~avatar %}
							{% endif %}
							
							<div class="dd_src">
								<span class="connected">
									<table>
										<tr>
											<td class="user_avatar">
												<span class="wrap">
													<img id="avatar_banner" style="width:30px; height: 30px" src="{{ pathtoavatar | imagine_filter('32x32') }}" alt="{{ app.user.username }}" />
												</span>
											</td>
											<td class="user_name" title="{{ app.user.name }}">
												<span class="wrap">
													<span id="nav_src_ur_name">{{ app.user.name }}</span>
												</span>
											</td>
										</tr>
									</table>
								</span>
							</div>
						{% else %}
						<div class="dd_src">
							<span class="not_connected">
								<img src="{{ asset('assets/image/icon_user_not.png')  }}" style="width:22px; height:22px;display: inline-block; vertical-align: middle;" />
								<span>{{ 'my.account' | trans }}</span>
							</span>
						</div>
						{% endif %}					
							
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<div class="dd_target connected" data-display="block">
								<div id="user_info_header">
									<div class="avatar_wrap">
										<img id="avatar_banner_target" src="{{ pathtoavatar | imagine_filter('50x50') }}" alt="{{ app.user.username }}" />
									</div>
									<div class="info_wrap">
										<a class="link" id="ur_profil_link" href="{{ path('com_user_profile', {'username': app.user.username}) }}">
											<span id="nav_target_ur_username">{{ app.user.username }}</span><br />
											<span id="nav_target_ur_name">{{ app.user.name }}</span><br />
											<span id="nav_target_ur_email">{{ app.user.email }}</span>
										</a>
									</div>
									<div class="both"></div>
								</div>
								<div class="link_wrap">
									<a class="link" id="ur_setting_link" href="{{ path('com_user_profile', {'username': app.user.username, 'type': 'setting'}) }}">
										<span>{{ 'settings' | trans }}</span>
									</a>
								</div>
								<div class="link_wrap">
									<a class="link" href="">
										<span>{{ 'participations' | trans }}</span>
									</a>
								</div>
								<div class="link_wrap">
									<a class="link" href="">
										<span>{{ 'abonnements' | trans }}</span>
									</a>
								</div>
								{% if is_granted('ROLE_ADMIN') %}
									<div class="link_wrap">
										<a class="link" href="{{ path('com_admin_home') }}">
											<span>{{ 'dashboard' | trans }}</span>
										</a>
									</div>
								{% endif %}
								<div class="link_wrap">
									<a class="link" href="{{ path('logout') }}"> 
										<span>{{ 'sign out' | trans }}</span>
									</a>
								</div>
							</div>
						{% else %}
							<div class="dd_target not_connected" data-display="block">
								<ul>
									<li>
										<a class="link" href="{{ path('com_user_login') }}">
											<span>{{ 'sign.in' | trans }}</span>
										</a>
									</li>
									<li>
										<a class="link" href="{{ path('com_user_register') }}">
											<span>{{ 'sign.up' | trans }}</span>
										</a>
									</li>
								</ul>
							</div>
						{% endif %}
							
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
</div>