<div id="search" class="cr">
	<div id="search_content"  class="ct">
		<div id="search_hidden">
			
		</div>
		<div id="search_header">
			
		</div>
		<div id="search_bloc">
			<form action="" name="form_search" method="post" id="form_search">
				<div id="search_entity">
					
					{% set selectedSchool = "selected" %}
					{% set selectedBlog = "" %}
					{% set selectedAdvert = "" %}
					
					{% set displaySchool = "block" %}
					{% set displayBlog = "none" %}
					{% set displayAdvert = "none" %}
					
					{% set querySchool = "" %}
					{% set queryBlog = "" %}
					{% set queryAdvert = "" %}
					
					{% if entityView is defined %}
						{% if entityView == "school" %}
							{% set selectedSchool = "selected" %}
							{% set selectedBlog = "" %}
							{% set selectedAdvert = "" %}
							{% set displaySchool = "block" %}
							{% set displayBlog = "none" %}
							{% set displayAdvert = "none" %}
							{% if q is defined %}
								{% set querySchool = q %}
							{% endif %}
						{% elseif entityView == "blog" %} 
							{% set selectedSchool = "" %}
							{% set selectedBlog = "selected" %}
							{% set selectedAdvert = "" %}
							{% set displaySchool = "none" %}
							{% set displayBlog = "block" %}
							{% set displayAdvert = "none" %}
							{% if q is defined %}
								{% set queryBlog = q %}
							{% endif %}
						{% elseif entityView == "advert" %} 
							{% set selectedSchool = "" %}
							{% set selectedBlog = "" %}
							{% set selectedAdvert = "selected" %}
							{% set displaySchool = "none" %}
							{% set displayBlog = "none" %}
							{% set displayAdvert = "block" %}
							{% if q is defined %}
								{% set queryAdvert = q %}
							{% endif %}
						{% endif %}
					{% endif %}
					
					<div class="search_entity_item {{ selectedSchool }}" data-entity="sl">
						School
					</div>
					<div class="search_entity_item {{ selectedBlog }}" data-entity="bg">
						Actualités
					</div>
					<div class="search_entity_item {{ selectedAdvert }}" data-entity="at">
						Annonces
					</div>
					<div class="both"></div>
				</div>
				<div id="search_critere">
					<div class="search_entity_content" id="search_critere_sl" style="display:{{ displaySchool }}">
						<div style="float:right; width: 230px; height: 38px;" class="dd">
							<div style="width: 230px; background:rgba(255,255,255,0.5);border-radius:3px; border:1px solid #bbb; height: 38px; cursor:pointer; box-sizing:border-box;padding:6px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="dd_src">
								<span id="search_sl_type_name">publique & privé</span>
								<input type="hidden" name="type" id="type_sl_input_id" value="0" data-slug="all"  />
							</div>
							<div class="dd_target search_sl_type_list" data-display="block" style="background: #fff; border: 1px solid #aaa;display:none;position:absolute;margin-top:5px; border-radius:3px; width: 228px;z-index:20">
								<div style="margin:5px">
									<span style="display:block;cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" data-type-id="0" title="publique & privé" data-slug="all" class="search_type_sl_item" data-name="publique & privé">publique & privé</span>
									<span style="display:block;cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" data-type-id="1" title="publique" data-slug="public" class="search_type_sl_item" data-name="publique">publique</span>
									<span style="display:block;cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" data-type-id="2" title="privé" data-slug="private" class="search_type_sl_item" data-name="privé">privé</span>
								</div>
							</div>
						</div>
						<div style="float:right; width: 230px; height: 38px; margin-right:8px;" class="dd">
							<div style="width: 230px; background:rgba(255,255,255,0.5);border-radius:3px; border:1px solid #bbb; height: 38px; cursor:pointer; box-sizing:border-box;padding:6px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="dd_src">
								<span id="search_sl_cat_name">all categories</span>
								<input type="hidden" name="category" id="cat_sl_input_id" value="0" data-slug="all"  />
							</div>
							<div class="dd_target search_sl_cat_list" data-display="block" style="background: #fff; border: 1px solid #aaa;display:none;position:absolute;margin-top:5px; border-radius:3px; width: 468px;z-index:20">
								<div style="margin:5px">
									<span style="display:inline-block;cursor:pointer;width:25%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" data-category-id="0" title="all categories" data-slug="all" class="search_cat_sl_item">all categories</span><!--  
									{% set categories = getCategoriesWithPublishedSchool(0) %}
									{% for category in categories %}
										--><span style="display:inline-block;cursor:pointer;width:25%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" data-category-id="{{ category.id }}" data-slug="{{ category.slug }}" title="{{ category.defaultName }}" data-name="{{ category.defaultName }}" class="search_cat_sl_item">{{ category.defaultName }}</span><!-- 
									{% endfor %}
								--></div>
							</div>
						</div>
						<div style="margin-right: 476px;">
							<input type="text" id="q_sl" placeholder="Tapez ce que vous voulez recherchez.school" value="{{ querySchool }}" />
						</div>
					</div>
					<div class="search_entity_content" id="search_critere_bg" style="display:{{ displayBlog }}">
						<input type="text" id="q_bg" placeholder="Tapez ce que vous voulez recherchez.post"  value="{{ queryBlog }}" />
					</div>
					<div class="search_entity_content" id="search_critere_at" style="display:{{ displayAdvert }}">
						<input type="text" id="q_at" placeholder="Tapez ce que vous voulez recherchez.advert"  value="{{ queryAdvert }}" />
					</div>
				</div>
				<div id="search_submit">
					<div id="search_single_result">
						Qu'est-ce que vous voulez recherchez?
					</div>
					<div id="search_submit_button">
						<div id="search_submit_button_go" data-target="{{ path('cf_platform_search') }}">Rechercher</div>
						<input type="submit" style="display:none" value="Rechercher" />
					</div>
					<div class="both"></div>
				</div>
			</form>
		</div>
		<div id="search_footer">
			
		</div>
	</div>
</div>