{% extends "COMPlatformBundle::platform.html.twig" %}

{% block title %}
	Contact
{% endblock %}


{% block platform_body %}
	<div class="cr">
		<div class="ct">
			<div class="mg_h10">
				<div style="border: 1px solid #ddd; background:#f8f8f8; padding: 5px; margin:10px 0">
					<span style="font-weight:bold">Contact.</span>
				</div>
				<div style=" float:left; width:370px">
					<div style="margin:10px 0">
						<form name="" method="post" action="{{ path('cf_platform_contact') }}" id="form-inscription">
							{% if msg %}
								{#{ error | raw }#}
								<div style="font-weight:bold;margin:10px 0">{{ msg | raw }}</div>
							{% endif %}
							<div>
								<div>                
									<div><label for="contact_name" class="required">{{ 'full name' | trans }} *:</label></div>
									<div><input type="text" id="contact_name" name="name" required="required" value="{{ contact.name }}" class="default_input" /></div>
								</div>
								
								<div>                
									<div><label for="contact_email" class="required">{{ 'email' | trans }} *:</label></div>
									<div><input type="email" id="contact_email" name="email" required="required" value="{{ contact.email }}" class="default_input" /></div>
								</div>
								
								<div>                
									<div><label for="contact_phone" class="required">{{ 'phone' | trans }} *:</label></div>
									<div><input type="text" id="contact_phone" name="phone" required="required" value="{{ contact.phone }}" class="default_input" /></div>
								</div>
								
								<div>                
									<div><label for="contact_content" class="required">{{ 'message' | trans }} *:</label></div>
									<div><textarea id="contact_content" class="default_textarea_2" name="content"  required="required">{{ contact.content }}</textarea></div>
								</div>
								
								<div style="margin-top : 10px">
									<button type="submit" id="Inscription" name="Envoyer" class="standar_button">{{ 'Envoyer' | trans }}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div style="margin-left:380px">
					<h1 style="font-size:16px;font-weight:bold;margin-bottom:10px">
						Duplexque isdem diebus acciderat malum lorem ipsum?
					</h1>
					<div style="">
						<p>Vivamus purus erat, lobortis et turpis ut, blandit egestas eros. Aliquam non nisi a felis sodales rutrum. Vivamus eget scelerisque nibh. </p>
						<p>Nulla pulvinar a velit sit amet aliquet. Aliquam erat volutpat. Suspendisse molestie rhoncus velit a elementum. Maecenas eleifend, lectus sit amet cursus porttitor, metus turpis luctus mauris, sit amet convallis felis turpis eget neque. Vestibulum metus nulla, tincidunt in convallis vel, molestie at orci. Ut aliquet volutpat rhoncus.</p>
					</div>
				</div>
				<div class="both"></div>
			</div>
		</div>
	</div>
{% endblock %}
