{% extends "COMForumBundle::forum.html.twig" %}

{% block title %}
  Subject {{ subject.title }}
{% endblock %}


{% block forum_body %}
	<div class="cr">
		<div class="ct">
			<div style="margin:10px; font-weight:bold">
				Subject {{ subject.title }}
			</div>
			<div class="sp mg_v10"></div>
			<div>
				<div id="fm_list_msg">
					{% for message in messages %}
						{{ include("COMForumBundle:forum:include/message_item.html.twig") }}
					{% endfor %}
				</div>
				<div class="both"></div>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
					<div class="mg_10">
						<form action="" name="" method="post" id="">
							<div style="margin-bottom:5px">
							{{ app.user.name }} :
							</div>
							<div style="width:60px;float:left">
								{% set avatar=userAvatar(app.user) %}
								{% if avatar != "default.jpeg" %}
									{% set pathtoavatar='uploads/images/user/avatar/'~avatar %}
								{% else %}
									{% set pathtoavatar='default/images/user/avatar/'~avatar %}
								{% endif %}
								<span style="display:block;float:left;"><img id="avatar_banner" style="width:60px; height: 60px" src="{{ pathtoavatar | imagine_filter('60x60') }}" alt="{{ app.user.username }}" /></span>
							</div>
							<div style="margin-left:70px">
								<textarea class="default_textarea" id="fm_message" style="min-height:120px"></textarea>
								<div style="margin:5px 0 0 0">
									<span class="tn_save standar_button" id="btn_fm_new_msg" data-target="{{ path('com_forum_new_message', {'subject_id': subject.id}) }}">R&eacute;pondre</span>
								</div>
							</div>
							<div class="both"></div>
						</form>
					</div>
				{% else %}
					<div style="margin: 10px 0">
						<a class="link" href="{{ path('com_user_login') }}">Connectez-vous pour pouvoir ecrire votre message</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
